[Unit]
Description=rsnapshot "{{ item.name }}"  backup

[Timer]
# 14:30 is the clock time when to start it
OnCalendar={{ item.time | default(wtd_rsnapshot_timer_time) }}
Persistent=true
Unit=rsnapshot@{{ item.name }}.service

[Install]
WantedBy=timers.target
